body {
  background-color: rgb(52, 52, 56);
  animation-name: turnUpBrightness;
  animation-duration: 3s;
  color: aliceblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

footer > a {
  color: aliceblue;
  text-decoration: none;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 3rem;
  position: relative;
}

#btnLinks {
  border: none;
  cursor: pointer;
  background-color: aliceblue;
  padding: 1rem 1.25rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

#btnLinks:hover {
  border-radius: 1.5rem;
}

#btnLinks:hover::after {
  content: 'Link';
  background-color: aliceblue;
  padding: 0.5rem;
  border-radius: 1.5rem;
}

#links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

#links span.link {
  background-color: aliceblue;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#links > span.link > a {
  color: rgb(52, 52, 56);
  text-decoration: none;
}

#links span.link:hover > a {
  text-decoration: underline;
}

#links span.link:hover > button {
  display: block;
}

#links > span.link > button {
  display: none;
  background: rgb(129, 129, 133);
  border-radius: 50%;
  color: aliceblue;
  border: none;
  font-size: 0.63rem;
  cursor: pointer;
  margin-left: 0.25rem;
  height: 1rem;
  width: 1rem
}

#tools {
  float: left;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: flex-start;
  gap: 1rem;

}

#form {
  /* display: flex; */
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

#form > div.field {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

#form > div.field > input {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}


#form > button {
  padding: 0.5rem;
  width: 225px;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
  background-color: rgb(228, 228, 228);
}

#form > button:hover {
  background-color: rgb(191, 223, 206);
  color: #333
}

#editor {
  padding: 3rem;
  min-height: 85vh;
  background-color: aliceblue;
  color: black;
  border-radius: 0.25rem;
  margin: 0 auto;
  outline: 0;
}

@media only screen and (min-width: 1020px) {
  /* styles for browsers larger than 960px; */
  #editor {
    width: 45%;
    font-size: 1rem;
  }
}
@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
  #editor {
    width: 90%;
    font-size: 1.5rem;
  }
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  #editor {
    width: 90%;
    font-size: 1.5rem;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  #editor {
    width: 90%;
    font-size: 1.5rem;
  }
}
